/* основной цвет текста #757575; */
/* вторичный цвет текста #212121 */
/* белый #FFFFFF */
/* синий акцент #2196F3; */
/* вторичный цвет фона #F5F4FA; */

:root { 
    --primary-text-color: #757575;
    --primary-white-color: #fff;
    --title-text-color: #212121;
    --accent-color: #2196F3;
    --current-color:#F5F4FA;
}
html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}
body {
    margin: 0;

    background-color: var(--primary-white-color);
    color: var(--primary-text-color);

    font-family: 'Roboto', sans-serif; 
}
img {
    display: block;
}
ul {
    list-style: none;
    padding: 0;
    margin: 0; 
}
a {
    text-decoration: none;
}
/* выделение всех элементов для удобства верстки */
/* * {
    outline: 2px solid #ed0505;
} */

/* утилиты */
.list {
    list-style: none;
}
.container {
    margin: 0 auto;
    width: 1200px;
    padding: 0 15px;
}
.hidden {
    visibility: hidden;
    font-size: 0;
}

/*шапка */
.page-header {
    border-bottom: 1px solid #ECECEC;

}
.logo {
    padding-top: 24px;
    padding-bottom: 25px;

    color: #000000;
    font-family: 'Raleway', sans-serif;
    font-size: 26px;
    font-weight: 700;
    letter-spacing: 0.03em;
    line-height: 1.2;
}
.logo-web {
    color: var(--accent-color);
}
/* main-nav */
.main-nav {
    display: flex;
    align-items: center;
}

/* site-nav */
.site-nav {
    display: flex;
    margin-left: 93px;
}
.site-nav .item + .item {
    margin-left: 50px;
}
.site-nav a {
    display: block;
    padding-top: 32px;
    padding-bottom: 32px;

    color: var(--title-text-color);

    font-size: 14px;
    font-weight: 500;
    letter-spacing: 0.02em;
    line-height: 1.2;
}
.site-nav .link:hover,
.site-nav .link:focus {
    color: var(--accent-color);
}
.site-nav .link.current {
    color: var(--accent-color);
}

/* contact-nav */
.contact-nav {
    display: flex;
    margin-left: auto;
}
.contact-nav .item + .item {
    margin-left: 50px;
}
.contact-nav a {
    display: block;
    padding-top: 32px;
    padding-bottom: 32px;

    color: var(--primary-text-color);

    font-size: 14px;
    font-weight: 500;
    line-height: 1.2;
}
.contact-nav .link:hover,
.contact-nav .link:focus {
    color: var(--accent-color);
}

/* подвал */
.main-footer {

}
.page-footer {
    background: #2F303A;
}
.logo-footer {
    color: var(--primary-white-color);

    font-family: 'Raleway', sans-serif;
    font-size: 26px;
    font-weight: 700;
    letter-spacing: 0.03em;
    line-height: 1.2;
}
address {
    font-size: 14px;
    font-style: normal;
    letter-spacing: 0.03em;
    line-height: 1.7;
}

.address-list .link.link-address {
    color: var(--primary-white-color);
}
.address-list .link {
    color: rgba(255, 255, 255, 0.6);
}
.address-list .link:hover,
.address-list .link:focus {
    color: var(--accent-color);
}