
/* фильтр */
.btn-filter {
    display: flex;
    justify-content: center;
}
.btn-filter .item + .item {
margin-left: 8px;
}
button {
    padding: 6px 22px;
    border-radius: 4px;
    border: none;
    cursor: pointer;
/* min-width нужно сделать для каждой отдельной кнопки отдельно? */

    text-align: center;
    font-weight: 500;
    font-size: 16px; 
    letter-spacing: 0.03em;
    line-height: 1.62;
    font-family: inherit;
    color: var(--title-text-color);
    background-color: var(--current-color);  
}
button:hover {
    background-color: var(--accent-color);
    color: var(--primary-white-color);
}

/* main */
.main {

}


/* карточки */
.section {
    padding: 94px 0 0 0;
}
.title {
    padding: 20px 0 0 0;
    margin: 0 0 0 24px;

    color: var(--title-text-color);
    font-size: 18px;
    font-weight: 700;
    letter-spacing: 0.06em;
    line-height: 2;
}
.text {
    padding: 0;
    margin: 4px 0 20px 24px;
    
    color: var(--primary-text-color);
    letter-spacing: 0.03em;
    line-height: 1.88;
}
.cards-list {
    display: flex;
    flex-wrap: wrap;
}
.cards-list .item {
    /* width: 370px; */
    width: calc((100% - 60px) / 3);
    margin-right: 30px;
    margin-bottom: 30px;
}
.cards-list .item:nth-child(3n) {
    margin-right: 0;
}
.cards-list .item:nth-last-child(-n +3) {
    margin-bottom: 0;
}

.border-cards {
    border: 1px solid #EEEEEE;
    border-top: none;
}

/* подвал */
.page-footer {
margin-top: 94px;
}
