button {
    padding: 10px 32px;
    min-width: 200px;

    line-height: 1.88;
    font-weight: 700;
    font-size: 16px;
    letter-spacing: 0.06em;
    font-family: inherit;

    color: var(--primary-white-color);
    background-color: var(--accent-color);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    cursor: pointer;
    border-radius: 4px;
    border: none;
    
}
.section-title {
    color: var(--title-text-color);
    font-weight: 700;
    font-size: 36px;
    letter-spacing: 0.03em;
    line-height: 1.2;
    text-align: center;
    padding: 0;
    margin: 0 0 50px 0;

}
.section {
    padding: 0 0 94px 0;
}
/* секция заголовок с фоном */
.hero {
    text-align: center;
}
.hero-title {
    font-size: 44px;
    font-weight: 900;
    letter-spacing: 0.06em;
    line-height: 1.36;
    text-align: center;
    text-transform: uppercase;
    margin: 0 0 30px 0;
    padding: 0;

    color: var(--primary-white-color);
    background-color: #2F303A;
}

/* решения для бизнеса */
.page-business .title {
    font-weight: 700;
    font-size: 14px;
    line-height: 1.2;
    letter-spacing: 0.03em;
    color: var(--title-text-color);
    text-transform: uppercase;
    padding: 0;
    margin: 0 0 10px 0;
}
.page-business .text {
    font-size: 14px;
    line-height: 1.7;
    letter-spacing: 0.03em;
    padding: 0;
    margin: 0;
}
/* чем мы занимаемся */
.our-activities .title {
color: var(--primary-white-color);
letter-spacing: 0.03em;
line-height: 1.2;
padding: 0;
margin: 0;

}

/* наша команда*/
.page-team {
    background: #F5F4FA;
}
.page-team .title {
    color: var(--title-text-color);
    font-weight: 500;
    font-size: 16px;
    letter-spacing: 0.03em;
    line-height: 1.2;
    padding: 0;
    margin: 30px 0 10px 0;
}
.page-team .text {
    letter-spacing: 0.03em;
    line-height: 1.2;
    padding: 0;
    margin: 0 0 30px 0;
}


