button {
    padding: 10px 32px;
    min-width: 200px;

    text-align: center;
    line-height: 1.88;
    font-weight: 700;
    font-size: 16px;
    letter-spacing: 0.06em;
    font-family: inherit;

    color: var(--primary-white-color);
    background-color: var(--accent-color);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    cursor: pointer;
    border-radius: 4px;
    border: none;
}
.section-title {
    color: var(--title-text-color);
    font-weight: 700;
    font-size: 36px;
    letter-spacing: 0.03em;
    line-height: 1.2;
    text-align: center;
    padding: 0;
    margin: 0;
}
.title {
    padding: 0;
    margin: 0;
}
.text {
    padding: 0;
    margin: 0;
}

/* секция заголовок с фоном */
.hero {
    color: var(--primary-white-color);
    font-size: 44px;
    font-weight: 900;
    letter-spacing: 0.06em;
    line-height: 1.36;
    text-align: center;
    text-transform: uppercase;
    background-color: #2F303A;
    margin: 0;
    padding: 0;
   
}

/* решения для бизнеса */
.page-business .title {
    font-weight: 700;
    font-size: 14px;
    line-height: 1.2;
    letter-spacing: 0.03em;
    color: var(--title-text-color);
    text-transform: uppercase;
    
}
.page-business .text {
    font-size: 14px;
    line-height: 1.7;
    letter-spacing: 0.03em;
    
}
/* чем мы занимаемся */
.our-activities .title {
color: var(--primary-white-color);
letter-spacing: 0.03em;
line-height: 1.2;
}


/* наша команда*/
.page-team {
    background: #F5F4FA;
}
.page-team .title {
    color: var(--title-text-color);
    font-weight: 500;
    font-size: 16px;
    letter-spacing: 0.03em;
    line-height: 1.2;
    text-align: center;
}
.page-team .text {
    letter-spacing: 0.03em;
    line-height: 1.2;
    text-align: center;
}


